{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="container">
  <h2>Login form</h2>
  <form method="post" action="/login">
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" placeholder="Enter username" name="uname" id="uname" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" name="pword" id="pword" required>
    </div>
    <div class="form-group">
      <label for="2fa">Enter 2fa code:</label>
      <input type="text" class="form-control" placeholder="Enter 2fa code" name="2fa" id="2fa" required>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
  </body>
</html>
{% endblock %}
