{% extends 'base.html' %}
{% block title %}Log In{% endblock %} 
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to spellchecker {% if g.user %}, {{g.user['username']}}{% endif %}!</h1>
  <p class="lead">It is a spellchecker written in flask and uses C-code at the backend for the application logic</p>
  {% if g.user %}
     <form method="post" action="/spell_check">
    <div class="form-group">
      <label for="inputtext">Text:</label>
      <textarea class="form-control vresize" name="inputtext" id="inputtext" required ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Spell Check</button>
  </form>
    {% else %}
      <p>Please <a href="/login">login</a> to use this webapp. <a href="/register">Register</a> if you don't have an account</p>
    {% endif %}
</div>
  </body>
</html>
{% endblock %}
